---
layout: archive
title: "Posts by Collection"
permalink: /general/
author_profile: true
---

{% capture written_label %}'None'{% endcapture %}

{% for collection in site.general %}
  {% unless general.output == false or general.label == "posts" %}
    {% capture label %}{{ general.label }}{% endcapture %}
    {% if label != written_label %}
      <h2 id="{{ label | slugify }}" class="archive__subtitle">{{ label }}</h2>
      {% capture written_label %}{{ label }}{% endcapture %}
    {% endif %}
  {% endunless %}
  {% for post in general.docs %}
    {% unless general.output == false or general.label == "posts" %}
      {% include archive-single.html %}
    {% endunless %}
  {% endfor %}
{% endfor %}
